// 0px - 767px
@media screen and (max-width: 767px) {
  .regulars.section {
    padding-bottom: 30px;
  }

  .regulars-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 30px;

    .regulars-list-item {
      margin-bottom: var(--card-set-gap);
    }

    .regulars-link {
      @media screen and (min-width: 320px) {
        width: 130px;
      }

      @media screen and (min-width: 480px) {
        width: 210px;
      }
    }
  }
}

.regulars-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  padding-bottom: 30px;
  color: var(--title-text-color);
}

.regulars-link {
  fill: var(--team-social-link);
  border: 1px solid var(--team-social-link);
  @include flexbox($justify-content: center);
  border-radius: 4px;
  width: 170px;
  height: 92px;

  transition: border-color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    fill: var(--accent-text-color);
    border: 1px solid var(--accent-text-color);
    cursor: pointer;
  }

  &:focus {
    transition: outline var(--transition-dur-and-func);
    outline: 2px solid var(--accent-text-color);
  }
}

.company-icon {
  transition: fill var(--transition-dur-and-func);
}

.company-one {
  width: 41px;
  height: 46.7px;
}

.company-two {
  width: 40px;
  height: 52px;
}

.company-three {
  width: 43.46px;
  height: 41.18px;
}

.company-four {
  width: 84.44px;
  height: 40.62px;
}

.company-five {
  width: 62.54px;
  height: 45.43px;
}

.company-six {
  width: 93.79px;
  height: 43.93px;
}

// 768px - 1200px
@media screen and (min-width: 768px) {
  .regulars.section {
    padding-bottom: 30px;
  }

  .regulars-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 30px;

    .regulars-list-item {
      margin-bottom: var(--card-set-gap);
    }

    .regulars-link {
      width: 210px;
    }
  }
}

// 1200px - etc.
@media screen and (min-width: 1200px) {
  .regulars-list {
    display: flex;
    justify-content: space-between;
    padding-top: 0;

    .regulars-list-item {
      margin-bottom: 0;
      margin-top: 50px;
    }

    .regulars-link {
      width: 170px;
    }
  }

  .regulars-title {
    padding-bottom: 30px;
  }

  .regulars.section {
    padding-bottom: 94px;
  }
}
