// 0px - 767px
@media screen and (max-width: 767px) {
  .footer-background {
    width: auto;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
  }

  .footer-contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
  }

  .footer-column-left {
    align-self: center;
    margin-bottom: 48px;
  }

  .footer-column-right {
    margin-left: 0px;
    align-self: center;
  }

  .footer-logo {
    display: flex;
    text-align: center;
    margin-bottom: 5px;
    margin-right: 0;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-background {
  background-color: var(--background-footer);
}

.footer-wrapper {
  display: flex;
  align-items: baseline;
}

.footer-column-right {
  margin-left: 0px;
  margin-bottom: 60px;
}

.footer-logo {
  display: block;
  text-align: center;
  margin-bottom: 13px;
  margin-right: 0;
}

.footer-contacts {
  padding-left: 0px;
  margin-top: 0px;

  & li {
    line-height: 1.7;
    margin-top: 9px;
    text-align: center;
  }
}

.logo-footer-accent {
  color: var(--accentwhite-text-color);
}

.address-link {
  color: var(--accentwhite-text-color);
}

.footer-contact-link {
  padding-top: 0;
  padding-bottom: 0;

  transition: color var(--transition-dur-and-func);
}

.footer-links-title {
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  color: var(--accentwhite-text-color);

  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.footer-social-list-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--footer-social-background);
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color var(--transition-dur-and-func), fill var(--transition-dur-and-func);

  &:hover,
  &:focus {
    background-color: var(--accent-text-color);
  }

  &:hover .social-icon,
  &:focus .social-icon {
    fill: var(--background-main);
  }
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: var(--background-main);
}

.current {
  color: var(--accent-text-color);
}

// 768px - 1200px
@media screen and (min-width: 768px) {
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .footer-contact-info {
    display: flex;
    flex-direction: row;
    gap: 165px;
    margin-top: 0;
    margin-bottom: 52px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-contacts {
    margin-bottom: 0;
  }

  .footer-column-right {
    margin-bottom: 0;
  }

  .footer-contact-link {
    display: block;
    align-self: center;
  }
}

// 1200px - etc.
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 58.5px;
  }

  .footer-background {
    min-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .footer-contact-info {
    display: flex;
    align-items: baseline;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    gap: 70px;
  }

  .footer-column-right {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    text-align: left;
  }

  .footer-logo {
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 0;
  }

  .footer-links-title {
    text-align: left;
  }

  .footer-contacts {
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

    & li {
      line-height: 1.7;
      margin-top: 9px;
      text-align: left;
    }
  }

  .footer-social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
  }

  .current {
    color: var(--accent-text-color);
  }
}
