// 0px - 767px
@media screen and (max-width: 767px) {
  .subscription-form {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: center;
    align-self: center;
  }
  .subscription-title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--accentwhite-text-color);
    margin-bottom: 20px;
  }
}

.subscription-form {
  display: flex;
  align-items: center;
  margin-left: 0px;
}

.subscription-email {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  height: 50px;
  background-color: var(--dark-background-color);
  margin-right: 0px;
  margin-bottom: 20px;
  color: var(--accentwhite-text-color);
  padding-left: 16px;
  transition: border-color var(--transition-dur-and-func);

  @media screen and (min-width: 320px) {
    width: 300px;
  }

  @media screen and (min-width: 480px) {
    width: 358px;
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 1.25;
  }

  &:focus {
    border-color: var(--accent-text-color);
    outline: none;
  }
}

.subscription-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  width: 200px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--accentwhite-text-color);
  background-color: var(--accent-text-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;

  padding: 10px 28px;
  transition: background-color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    background-color: var(--accent-text-color);
    cursor: pointer;
  }
}

.subscription-button-icon {
  margin-left: 10px;
}

// 768px - 1200px
@media screen and (min-width: 768px) {
  .subscription-form {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }

  .subscription-title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--accentwhite-text-color);
    margin-bottom: 20px;
  }
}

// 1200px - etc.
@media screen and (min-width: 1200px) {
  .footer.section {
    padding-bottom: 51px;
  }

  .subscription-form {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: 93px;
    margin-right: 0;
  }

  .subscription-email {
    margin-bottom: 0;
  }

  .subscription-title {
    display: block;
  }

  .subscription-button {
    margin-left: 12px;
  }
}
